<!doctype html>
<html lang="en">
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>掲示板</title>
    {% block custumcss %}
    {% endblock custumcss %}

  </head>
  <body>
    <header>
      <nav class="navbar-expand-lg" style="background-color:#ffeaff;">
  <a class="navbar-brand" href="{% url 'list' %}">掲示板</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="{% url 'list' %}">投稿一覧画面へ<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{% url 'create' %}">新規投稿画面へ</a>
      <a class="nav-item nav-link active" href="{% url 'profileupdate' %}">プロフィール編集画面へ</a>
      {% if request.user.id %}
      <a class="nav-item nav-link active" href="{% url 'messagelist' request.user.id %}">メッセージ一覧画面へ</a>
      {% endif %}
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'account_logout' %}">ログアウト</a>
    </div>

  </div>
</nav>
    </header>
    {% block content %}
    {% endblock content %}

</body>

</html>
