{% extends "base.html" %}

{% block content %}

<p>{{ profile_detail.username }}</p>
<p>{{ profile_detail.age }}才</p>
<p>{{ profile_detail.sex }}</p>
<p>{{ profile_detail.address }}</p>
{% if profile_detail.icon.url != null %}
  <p><img src = "{{ profile_detail.icon.url }}" width=300px ></p>

{% endif %}
{% if request.user.id != profile_detail.profileid_id %}
<p><a href = "{% url 'sendmessage' profile_detail.profileid_id %}">メッセージを送る</a><p>
{% endif %}
<p><a href = "{% url 'list' %}">投稿一覧画面へ戻る</a></p>
{% endblock %}
