{% extends "base.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'list.css' %}">
<div class="container">
  <div class="list-group">

{% for object in object_list %}
  <div class="list-group-item">

  <p>投稿者:<a href = "{% url 'profiledetail' object.authorid %}">{{ object.username }}さん </a>
  {% if object.icon.url != null %}
  <img src = "{{ object.icon.url }}" width=100px></p>
  {% endif %}
  <div class="toukou">
  <p>{{ object.created_at }}</p>
  <p>投稿：{{ object.toukou }}</p>
  </div>
  </div>
    <div class="list-group-item">
  {% if object.image.url != null %}
    <p class="text-center"><img src = "{{ object.image.url }}" class="img-fluid" alt="Responsive image"></p>

  {% endif %}
    </div>
    <div class="list-group-item">
  {% if request.user.id == object.authorid %}

      <a href = "{% url 'keijibanupdate' object.id %}">更新</a>
      <a href = "{% url 'keijibandelete' object.id %}">削除</a>

  {% endif %}


  {% if request.user.id != object.authorid %}
    <a class="btn btn-primary" href="{% url 'good' object.id %}"　role="button" >いいね{{ object.good }}</a>
  {% else %}
    <p><a class="btn btn-primary" id="btn">いいね{{ object.good }}</a></p>
  {% endif %}
    </div>



    <div class="list-group-item">
    {% for comment in comment_list %}
      {% if comment.commentid_id  == object.id %}
      <div class="comment">
          <p>{{ comment.commentfield }}　{{ comment.commentprofileid.username }}さん　{{ comment.created_at }}</p>
      </div>
      {% endif %}
    {% endfor %}
    <a href = "{% url 'commentcreate' object.id %}">コメントする</a>
    </div>


{% endfor %}







      <div class="list-group-item">
        <div class = "pagination justify-content-center">
  {% if object_list.has_previous %}
    <a href = "{% url 'list' %}">&laquo;最初のページへ</a>
    <a href = "{% url 'list' %}{{object_list.previous_page_number}}">&laquo;前へ</a>
  {% endif %}

  {% for num in object_list.paginator.page_range %}

    {% if object_list.number == num %}
      <span class="current">{{ object_list.number }}</span>
    {% else %}
      <a href="{% url 'list' %}{{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if object_list.has_next %}
    <a href="{% url 'list' %}{{ object_list.next_page_number }}">次へ&raquo;</a>
    <a href="{% url 'list' %}{{ object_list.paginator.num_pages}}">最後のページへ&raquo;</a>
  {% endif %}
        </div>
      </div>
    </div>
</div>



{% endblock content %}
