{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<link rel="stylesheet" href="{% static 'messagelist.css' %}">
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5 border bg-light">
    <div class="text-center">
    <h2>受信メッセージ一覧</h2>
    </div>
  {{ recieve_list }}
  {% for message in new_recieve_message_list %}
  <div class="balloon1-left">
    <p>{{ message.message }}</p>

    {% if message.image.url != null %}
      <p><img src = "{{ cloudinary message.image.url }}" class="img-fluid" alt="Responsive image" ></p>
    {% endif %}
    <p>{{ message.created_at }}</p>
    {% if message.icon.url != null %}
    <p><img src="{{ cloudinary message.icon.url }}" width=50px>
    {% endif %}
      {{ message.username}}さんより受信</p>
  </div>
    <p><a href = "{% url 'sendmessage' message.sendmessageid %}">{{ message.username}}さんへ返信する</a></p>


  {% endfor %}
  </div>

<div class="col py-3 px-lg-5 border bg-light">
  <div class="text-center">
  <h2>送信メッセージ一覧</h2>
  </div>
{{ send_list }}
{% for message in new_send_message_list %}
<div class="text-right">
  <div class="balloon1-right">

  <p>{{ message.message }}</p>

  {% if message.image.url != null %}
    <p><img src = "{{ message.image.url }}" class="img-fluid" alt="Responsive image" ></p>
  {% endif %}
  <p>{{ message.created_at }}</p>
  {% if message.icon.url != null %}
  <p><img src = "{{ message.icon.url }}" width=50px>
  {% endif %}
    {{ message.username }}さんへ送信済</p>

  </div>

  <p><a href = "{% url 'sendmessage' message.recieverid %}">{{ message.username }}さんへさらに送信する</a></p>
</div>
{% endfor %}





</div>
<!-- <p><a href = "{% url 'list' %}">投稿一覧画面へ</a></p> -->

{% endblock content %}
