body{
    background-image: url("images/downtown-4045037_1920.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
}
